.nav-style{
    height: 85px;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .25);
}

.btnVar{
    height: 98%;
    line-height: 50px;
    padding-top: 15px;
}

.btnLoginContainer{
    width: 40%;
    display: flex;
    justify-content: flex-end;
}

.btnContainer{
    margin-left: 12px;
}

.logo{
    height: 65px;
    width: 130px;
    margin-left: 35px;
}

.imagenContainer{
    margin: 9px 100px 5px 25px;
    width: 23%;
}

.tamanioImagen{
    height: 400px;
    width: 800px;
    float: right;
    padding-right: 15px;
}

.contenedorItem{
    background-color: blue;
}

.carruselCaption{
    position: absolute;
    bottom: 120px;
    left: 10%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: center;
}

.carruselControl{
    width: 5% !important;
}

.centrado{
    text-align: center;
}

.loginIcon{
    width: 32px;
    height: 32px;
    margin-top: 9px;
    margin-left: 5px;
}

.btnLogin{
    display: flex;
    flex-direction: row;
}

.imgIcon{
    width: 23px;
    height: 23px;
}

.alineacionIzquierda{
    text-align: left;
}

.contPopUp{
    z-index: 2;
    position: absolute;
    left:50%;
    top:50%;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.402);
    margin: -217px 0px 0px -250px;
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;
    width: 500px;
    height: 434px;
    background-color: #fff;
    border: 1px black solid;
}

.loginTitulo{
    font-family: "Google Sans","Noto Sans Myanmar UI",arial,sans-serif;
    margin-top: 10px;
}

.logSubtitulo{
    color: #202124;
    font-size: 16px;
    font-weight: 400;
    font-family: roboto,"Noto Sans Myanmar UI",arial,sans-serif;
}

#subTituloP{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.loginText{
    margin-top: 20px;
}

.loginLogo{
    margin: 10px 0px 0px 0px;
}

.contPopUpBtns{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

#btnCerrar{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 26px;
    height: 26px;
    margin: 10px 10px 0px 0px;
}

.contNuevaCuenta{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: #5f6368;
}

#btnNCuenta{
    font-size: 12px;
}

.tab-group-container-container{
    background-color:#F5F5F5;
    height: 100%;
}

#contMnUsuario{
    margin-top: 15px;
    margin-left: 15px;
}

#contCUsuario{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    height: 100%;
}

.filaCreacionUs{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.separacion{
    margin-right: 15px;
}

.textCUsuari{
    height: 23px;
}

#contBodyP{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#modal-header{
    flex-direction: column;
    justify-content: center;
}

#modal-footer{
    justify-content: center;
}

#btnIngresarP{
    width: 170px;
    font-size: 20px;
}

/*--------------------Ventana modal--------------------*/

.vtnModal{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #19191abd;
    z-index: 2;
    display: flex;
}

.modalContainer{
    margin: auto;
    width: 90%;
    max-width: 600px;
    max-height: 90%;
    background-color: #fff;
    border-radius: 6px;
    padding: 1em 2.5em;
    display: grid;
    gap: 1em;
    place-items: center;
    grid-auto-columns: 100%;
}

.contBtnCP{
    display: flex;
    justify-content: right;
    width: 100%;
}

.bodyPopUp{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.textCreacionUs{
    margin: 0px 0px 11px 0px;
}

#selCatFiscalP{
    padding: 2px 3px;
}

#btnGuardarPU{
    margin-top: 15px;
}

.columCU{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#contVVenta{
    margin: 15px;
}

.contCVehiculo{
    display: flex;
    flex-direction: column;    
    width: 100%;
}
.ContDatosV{
    display: flex;
    flex-direction: row;    
    width: 100%;
}


.widgetText{
    margin-right: 10px;
    font-size: 15px;
}

.widget{
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-bottom: 25px;
}

.primerCol{
    padding-right: 25px;
    width: 50%;
}

.contTitulo{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}